<!doctype html>
<html>
<head>
<%=stylesheet_link_tag "application" %>
<title>Microblog</title>
</head>
<body>
  <div class="header">
    <% if @me %>
    <div class="login_name">
      Login:<%=@me.name %>
      <%=link_to "[LOGOUT]",:controller => "account",:action => "logout" %>
    </div>
    <% end %>

    
    <h2><%=link_to "Microblog",{:controller => "timeline"} %></h2>

  </div>
  
  <div class="content">
    <%=yield %>
  </div>
  
</body>
</html>
